<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyASHetsGdSsXbU--nx2kcgjq-u8ugow3I8</string>
	<key>GCM_SENDER_ID</key>
	<string>254564875028</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.raasithprojects.pushNotification</string>
	<key>PROJECT_ID</key>
	<string>my-test-project-f91ed</string>
	<key>STORAGE_BUCKET</key>
	<string>my-test-project-f91ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:254564875028:ios:e348c30214293a7a962001</string>
</dict>
</plist>